doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=utf-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
        title
            block title

        meta(name='viewport' content='width=device-width')
        link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:100,400,600,700&subset=latin,cyrillic' media='screen, projection, print')
        link(rel='stylesheet' type='text/css' href='css/main.css' media='screen, projection, print')
        script(src='/js/_vendors/modernizr-2.6.2-respond-1.1.0.min.js')

    body
        <!--[if lt IE 8]>
        <p class="chromeframe">Похоже, что ты используешь устаревший браузер, друг. Пожалуйста, <a href="http://browsehappy.com/">скачай новый браузер абсолютно бесплатно</a> или <a href="http://www.google.com/chromeframe/?redirect=true">активируй Google Chrome Frame</a></p>
        <![endif]-->

        .wrapper
            .maincontent

                block content

        include _common/_footer

        script(src='')
        script.
            window.jQuery || document.write('<script src="/js/_vendors/jquery-1.11.3.min.js"><\/script>');

        script(src='js/plugins.min.js')
        script(src='js/main.min.js')

