.content-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
}

.main {
  float: left;
  width: 650px;
  background: #645e60;
  padding: 25px;
}

.main__title {
  font-family: 'Segoe UI';
  font-weight: 100;
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 55px;
}

.wrapper__img-resize {
    position: relative;
    display: block;
    top: 50%;
    margin: 0 auto;
}
.watermark__img-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: move;
}