.sidebar {
  float: right;
  width: 259px;
  border-left: 1px solid #b2b0b1;
  background: #f1f1f5;
  box-sizing: border-box;
}

.sidebar__title {
  font-size: 26px;
  line-height: 28px;
  padding: 30px 65px;
  color: #000000;
}

.sidebar__item {
  position: relative;
  padding: 0 20px;
  padding-bottom: 20px;
  margin-bottom: 17px;
  border-bottom: 1px solid #f4c3c2;

  &:after {
    content: '';
    background: url(../img/border-arrow.png) no-repeat;
    @include absolute-center;
    top: 100%;
    margin: 0 auto;
    width: 19px;
    height: 11px;
  }
}

.sidebar__label {
  @include clearfix;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.sidebar__lable {
  @extend .sidebar__label;
  margin-bottom: 30px;
}

.sidebar__form {
  width: 217px;
  margin: auto;
}

.sidebar__form-label-wrapper {
  @include clearfix;
  margin-top: 5px;
  margin-bottom: 25px;
}

.sidebar__form-input {
  float: left;
  height: 27px;
  width: 178px;
  border: 1px solid #9eb2c0;
  border-right: none;
  @include border-radius(5px 0 0 5px);
  background: #f1f1f5;
  color: #a4b6c4;
  padding: 4px 7px;
  @include roboto();
  font-size: 12px;
  line-height: 14px;
  box-sizing: border-box;
  outline: 0;
}

.sidebar__form-label_file {
  float: right;
  height: 27px;
  width: 39px;
  @include border-radius(0 5px 5px 0);
  background: url(/img/upload.png) center no-repeat #f97e76;
}

.sidebar__form-input_file {
  height: 27px;
  border: 0;
  opacity: 0;
  width: 0;
  overflow: hidden;
  padding-left: 39px;
  outline: 0;
}

.sidebar__label_position {
  @extend .sidebar__label;
  margin-top: 8px;
}


.sidebar__form-label-wrapper_position {
  float: left;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  font-size: 0;
  overflow: hidden;
}

.choose {
  position: relative;
  @include inlineblock(top);
  font-size: 0;
}

.choose__input {
  position: absolute;
  top: 0;
  left: -9999px;
}

.choose__style {
  box-sizing: border-box;
  border: 1px solid #9eb2c0;
  width: 33px;
  height: 33px;
  background: #dbe1e8;
  @include inlineblock(top);
  font-size: 0;
  outline: none;
}

.sidebar__form-label-wrapper_position {
  .choose__input{
    &:checked + .choose__style {
      background: #f97e76;
      border: 1px solid #f97e76;
    }
  }
}

.choose__style_1 {
  @include border-radius(5px 0 0 0);
}

.choose__style_3 {
  @include border-radius(0 5px 0 0);
}

.choose__style_7 {
  @include border-radius(0 0 0 5px);
}

.choose__style_9 {
  @include border-radius(0 0 5px 0);
}

.sidebar__form-label-wrapper_move {
  @extend .sidebar__form-label-wrapper_position;
  float: right;
  width: 81px;
}

.move__wrapper_top {
  @include inlineblock(top);
  width: 100%;
  height: 50%;
  margin-bottom: 3px;
  margin-top: 1px;
}

.move__wrapper_bottom {
  @include inlineblock(bottom);
  width: 100%;
  height: 50%;
}

.move__label {
  @include inlineblock(bottom);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  height: 100%;
}

.move__input {
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  border: 1px solid #9eb2c0;
  @include border-radius(5px);
  margin-left: 4px;
  font-family: "Segoe UI";
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  background: #f1f1f5;
  outline: none;
  vertical-align: middle;
  text-align: center;
}

$arrows-map: sprite-map('arrows/*.png', $spacing: 50px);

.move__label_X {
  .arrow_top {
    @include get-sprite($arrows-map, up);
    position: absolute;
    top: 52px;
    right: 20px;
    cursor: url(/img/cursor.png), pointer;

  &:hover{
    @include get-sprite($arrows-map, up_hover);
    position: absolute;
    top: 52px;
    right: 20px;
    cursor: url(/img/cursor.png), pointer;
  }
}

  .arrow_bot {
    @include get-sprite($arrows-map, down);
    position: absolute;
    top: 78px;
    right: 20px;
    cursor: url(/img/cursor.png), pointer;

    &:hover {
      @include get-sprite($arrows-map, down_hover);
      position: absolute;
      top: 78px;
      right: 20px;
      cursor: url(/img/cursor.png), pointer;
    }
  }
}

.move__label_Y {
  .arrow_top {
    @include get-sprite($arrows-map, up);
    position: absolute;
    top: 107px;
    right: 20px;
    cursor: url(/img/cursor.png), pointer;

    &:hover{
      @include get-sprite($arrows-map, up_hover);
      position: absolute;
      top: 107px;
      right: 20px;
      cursor: url(/img/cursor.png), pointer;
    }
  }

  .arrow_bot {
    @include get-sprite($arrows-map, down);
    position: absolute;
    top: 133px;
    right: 20px;
    cursor: url(/img/cursor.png), pointer;

    &:hover {
      @include get-sprite($arrows-map, down_hover);
      position: absolute;
      top: 133px;
      right: 20px;
      cursor: url(/img/cursor.png), pointer;
    }
  }
}

.sidebar__form-label-wrapper_btns {
  @include clearfix;
  margin: 25px 0px;
}

.btn {
  border: 0 none;
  height: 42px;
  width: 100px;
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  line-height: 42px;
  @include border-radius(5px);
  outline: none;
}

.btn_reset {
  float: left;
  background: #9eb2c0;
}

.btn_submit {
  float: right;
  background: #f97e76;
}
