.ui-slider-horizontal {
  height: 3px;
  background: #dbe1e8;
  @include border-radius(0);
  border: 0 none;

  * {
    outline: none !important;
  }

  .ui-widget-header {
    background: #9eb2c0;
  }


  $handle-map: sprite-map('handle/*.png', $spacing: 50px);

  .ui-slider-handle {
    @include get-sprite($handle-map, slider_handle);
    top: -10px;
    border: 0 none;
    @include border-radius(0);
    margin-left: -12px;
    cursor: url(/img/cursor.png), pointer;

      &:first-of-type {
        z-index: -1000;
        display: none;
      }

      &:hover {
        @include get-sprite($handle-map, slider_handle_hover);
      }
  }
}
