extends ../main

block title
  | WATERMARK IT INC.

block content
        .container_middle
          .container
            .main
              .main__title
                | Генератор водяных знаков
              .main__content

            include ../_common/_sidebar
