extends ../main

block title
  | WATERMARK IT INC.

block content
        .container_middle
          .container
            .main
              .main__title
                | Генератор водяных знаков
              .main__content
                .wrapper__img-resize(data-koef="1")#dragWrapper
                  .watermark__img-wrapper#blockToMove

            include ../_common/_sidebar
