extends ../main

block title
	| Name

block mainContent
	.container
		.wrapper
			.block
		.controls
			a(href="#").controls__move.controls__move-left
			a(href="#").controls__move.controls__move-right