sidebar.sidebar
  .sidebar__title
    | Настройки
  ul.sidebar__list
    li.sidebar__item
      form.sidebar__form
        label.sidebar__label Исходное изображение
          .sidebar__form-label-wrapper
            input(name="" type="text" readonly).sidebar__form-input
            label.sidebar__form-label_file
              input(name="" type="file").sidebar__form-input_file
        label.sidebar__label Водяной знак
          .sidebar__form-label-wrapper
            input(name="" type="text" readonly).sidebar__form-input
            label.sidebar__form-label_file
              input(name="" type="file").sidebar__form-input_file
    li.sidebar__item
      form.sidebar__form
        label.sidebar__label_position Положение
