sidebar.sidebar
  .sidebar__title
    | Настройки
  ul.sidebar__list
    li.sidebar__item
      form.sidebar__form
        label.sidebar__label Исходное изображение
          .sidebar__form-label-wrapper
            input(name="" type="text" readonly id="main-text").sidebar__form-input
            label.sidebar__form-label_file
              input(name="" type="file" id="main-file").sidebar__form-input_file
        label.sidebar__label Водяной знак
          .sidebar__form-label-wrapper
            input(name="" type="text" readonly id="water-text").sidebar__form-input
            label.sidebar__form-label_file
              input(name="" type="file" id="water-file").sidebar__form-input_file
    li.sidebar__item
      form.sidebar__form
        .sidebar__lable Положение
        .sidebar__form-label-wrapper
          .sidebar__form-label-wrapper_position
              - for (var i = 1; i < 10; i++)
                label.choose
                  input(class="choose__input choose__input_" + i name="radio" type="radio" value="position")
                  div(class="choose__style choose__style_" + i)
          .sidebar__form-label-wrapper_move
            .move__wrapper_top
              label.move__label.move__label_X X
                input(name="" type="text").move__input
                a.arrow_top
                a.arrow_bot
            .move__wrapper_bottom
              label.move__label.move__label_Y Y
                input(name="" type="text").move__input
                a.arrow_top
                a.arrow_bot
    li.sidebar__item
      form.sidebar__form
        .sidebar__lable Прозрачность
        .sidebar__form-label-wrapper
          div(class="slider" data-min="0" data-max="1")
    li.sidevar__item
      form.sidebar__form
        .sidebar__form-label-wrapper_btns
          input(name="" type="reset" class="btn btn_reset" value="Сброс")
          input(name="" type="submit" class="btn btn_submit" value="Скачать")








