.main__content {
  width: 650px;
  height: 535px;
  background: url('../img/preview.png') no-repeat center center;
  position: relative;
  overflow: hidden;
}


.wrapper__img-resize {
  position: relative;
  display: block;
  top: 50%;
  margin: 0 auto;
}

.img-upload{
  position: relative;
  display:block;
}

.watermark__img-wrapper{
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  cursor: move;
}

.img-watermark {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.img-upload-widthR {
  height: 100%;
}

.img-upload-heightR {
  width: 100%;
}

.img-upload-both-heightR {
  width: 100%;
}

.img-upload-both-widthR {
  height: 100%;
}
