@mixin roboto($style: light) {
  font-family: 'roboto';

  @if ($style == light) {
    font-weight: 100;
  }

  @if ($style == medium) {
    font-weight: 400;
  }
}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('robotocondensed-regular-webfont.eot');
    src: url('robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('robotocondensed-regular-webfont.woff2') format('woff2'),
         url('robotocondensed-regular-webfont.woff') format('woff'),
         url('robotocondensed-regular-webfont.ttf') format('truetype'),
         url('robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
