@mixin roboto($style: light) {
  font-family: 'Roboto';

  @if ($style == light) {
    font-weight: 100;
  }

  @if ($style == medium) {
    font-weight: 400;
  }
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto-light-webfont.eot');
    src: url('/fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto-light-webfont.woff2') format('woff2'),
         url('/fonts/roboto-light-webfont.woff') format('woff'),
         url('/fonts/roboto-light-webfont.ttf') format('truetype'),
         url('/fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
